<!-- Component children of cart-app -->
<h3>Carro de compras</h3>

<table class="table table-over table-striped">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @for (item of items; track $index) {
            <tr>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price * item.quantity}}</td>
            </tr>
        }
    </tbody>
</table>